In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.linear_model import LogisticRegression

In [2]:
spams = pd.read_table("../resources/SMSSpamCollection.txt",sep = "\t",header = 0)
spams.head()

  classe                                            message
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...

In [3]:
s_train,s_test = train_test_split(spams,train_size = 0.7,random_state = 1)

In [4]:
# parseur = CountVectorizer(binary=True,stop_words='english')# avec stopWrods et binary
# parseur = CountVectorizer()
parseur = TfidfVectorizer()
X_train = parseur.fit_transform(s_train.message)
mdtTrain = X_train.toarray()
X_test = parseur.transform(s_test.message)
mdtTest = X_test.toarray()

In [5]:
clf = LogisticRegression()
clf.fit(mdtTrain,s_train.classe)
score1 = clf.score(mdtTrain,s_train.classe)
score2 = clf.score(mdtTest,s_test.classe)
print(f'score sur train {score1}\n')
print(f'score sur train {score2}\n')

score sur train 0.9743589743589743

score sur train 0.9712918660287081

In [6]:
mdtTest[mdtTest >0]

array([0.40711683, 0.61399008, 0.2444446 , ..., 0.54933718, 0.48855483,
       0.55166154])